*{
  box-sizing:border-box;
}

body{

  margin:0;
  background:#eef2f7;
  font-family:Arial;

}

.container{

  max-width:1100px;
  margin:auto;
  padding:20px;

}

h1{

  text-align:center;
  color:#0d6efd;

}

.cadastro,
.rtcBox,
#resultado,
#logs{

  background:white;
  padding:20px;
  border-radius:16px;
  margin-bottom:20px;

}

input,
button,
textarea{

  width:100%;
  padding:14px;
  margin-top:10px;
  border-radius:10px;
  border:1px solid #ccc;
  font-size:16px;

}

button{

  background:#0d6efd;
  color:white;
  border:none;
  cursor:pointer;

}

button:hover{

  opacity:0.9;

}

.buscar{

  margin-bottom:20px;

}

#resetarBanco{

  background:#dc3545;

}

.cameraBox{

  position:relative;
  background:black;
  border-radius:20px;
  overflow:hidden;

}

video{

  width:100%;
  border-radius:20px;

}

canvas{

  position:absolute;
  top:0;
  left:0;

}

#lista{

  margin-top:20px;
  display:grid;
  gap:12px;

}

.aluno{

  background:white;
  border-radius:14px;
  padding:14px;

  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:14px;

}

.aluno img{

  width:80px;
  height:80px;
  border-radius:50%;
  object-fit:cover;

}

.aluno button{

  background:#dc3545;
  width:auto;

}

.info{

  flex:1;

}

#logs{

  display:grid;
  gap:10px;

}

.logItem{

  background:#eef2f7;
  padding:10px;
  border-radius:10px;

}

#qrcode{

  margin-top:20px;

  display:flex;
  justify-content:center;

}

#qrcode canvas{

  background:white;
  padding:10px;
  border-radius:16px;

}